{% extends 'base.html' %}
{% block title %}
    All Users page
{% endblock %}


{% block content %}

      <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">Public_id</th>
                <th scope="col">Username</th>
                <th scope="col">Email_adress</th>
                
                <th scope="col">Admin?</th>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for item in data %}
                <tr>
                    <td>{{ item.public_id }}</td>
                    <td>{{ item.username }}</td>
                    <td>{{ item.email_address }}</td>
                    
                    <td>{{ item.admin }}</td>
                    <td>
                        <form id="user_form" action= "{{ url_for('get_all_users') }}"method="POST">
                            
                            <input type='hidden' value='{{ item.public_id }}' name='public_id'>
                            <button type="submit" class="btn btn-light" name="action" value="more">more</button>
                            <button class="btn btn-outline btn-success" type="submit" name="action" value="update">Update user</button>
                            <button class="btn btn-outline btn-info" type="submit" name="action" value="delete">Delete user</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <form id="add_user" action= "{{ url_for('get_all_users') }}"method="POST">
    <button class="btn btn-outline btn-success" type="submit" name="action" value="create">Add user</button>
</form>
{% endblock %}